/* CSS in this file by Philipp Kuehn from https://codepen.io/philippkuehn/pen/QbrOaN */

body {
    background: linear-gradient(rgba(77, 48, 48, 0), #451616);
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: "Roboto Mono", monospace;
    font-size: 15px;
    height: 100%;
    width: 100%;
}

#treeHeader {
    text-align: center;
}

.makeVisible {
    visibility: visible !important;
}

#clearOverlay {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(0,0,0,0.5);
}

#clearConfirmContainer {
    background-color: cornsilk;
    width: 30%;
    height: 30%;
    position: relative;
    margin: auto;
    margin-top: 120px;
    border-radius: 10px;
}

#warningText {
    font-family: "Roboto Mono", monospace;
    text-align: center;
    font-size: 12px;
}

#yesClear, #noClear {
    display: inline;
    margin-left: 20px;
}


button {
    background-color: antiquewhite;
    display: block;
    height: 50px;
    width: 100px;
    outline: none;
    border-radius: 20px;
}

#deleteButton {
    position: absolute;
    top: 5%;
    right: 10%;
    
}

@keyframes darkenButton {
    from {background-color: antiquewhite;}
    to {background-color: red;}
}

button:hover {
    cursor: pointer;
    animation-name: darkenButton;
    animation-duration: 6s;
    
}


.tree ul {
  position: relative;
	padding: 1em 0; 
  white-space: nowrap;
  margin: 0 auto;
  text-align: center;
  
}


.tree ul::after {
    content: '';
    display: table;
    clear: both;
  }

.tree li {
  display: inline-block; 
/*     need white-space fix*/
  vertical-align: top;
  text-align: center;
	list-style-type: none;
	position: relative;
	padding: 1em .5em 0 .5em;
}

.tree li::before,
  .tree li::after {
    content: '';
    position: absolute; 
    top: 0; 
    right: 50%;
    border-top: 4px solid antiquewhite;
    width: 50%; 
    height: 1em;
  }

.tree li::after {
    right: auto; 
    left: 50%;
	  border-left: 4px solid antiquewhite;
  }

.tree li:only-child::after,
  .tree li:only-child::before {
    display: none;
  }

.tree li:only-child {
    padding-top: 0;
  }

.tree li:first-child::before,
  .tree li:last-child::after {
    border: 0 none;
  }

.tree li:last-child::before{
    border-right: 4px solid antiquewhite;
    border-radius: 0 5px 0 0;
  }

.tree li:first-child::after{
    border-radius: 5px 0 0 0;
  }

.tree ul ul::before{
	content: '';
	position: absolute; 
  top: 0; 
  left: 50%;
	border-left: 4px solid antiquewhite;
	width: 0; 
  height: 1em;
}

.tree li a {
	border: 4px solid antiquewhite;
	padding: .5em .75em;
	text-decoration: none;
	display: inline-block;
	border-radius: 5px;
  color: #333;
  position: relative;
  top: 4px;

}

.tree li div {
    background-color: antiquewhite;
	padding: .5em .75em;
	text-decoration: none;
	display: inline-block;
	border-radius: 5px;
  color: #333;
  position: relative;
  top: 4px;

}

.tree li a:hover,
.tree li a:hover+ul li a {
	background: #e9453f;
  color: #fff;
  border: 4px solid #e9453f;
}

.tree li a:hover + ul li::after, 
.tree li a:hover + ul li::before, 
.tree li a:hover + ul::before, 
.tree li a:hover + ul ul::before{
	border-color:  #e9453f;
}

.tree li div:hover,
.tree li div:hover+ul li div {
    cursor: pointer;
	background: #e9453f;
  color: #fff;
  border: 4px solid #e9453f;
}

.tree li div:hover + ul li::after, 
.tree li div:hover + ul li::before, 
.tree li div:hover + ul::before, 
.tree li div:hover + ul ul::before{
	border-color:  #e9453f;
}